<?xml version="1.0" ?>

<launch>
  <group ns="left_hand">
    <node pkg="robotiq_3f_gripper_control" name="Robotiq3FGripperTcpNode" type="Robotiq3FGripperTcpNode.py" args="192.168.1.11" output="screen">
    </node>
  </group>

  <group ns="right_hand">
    <node pkg="robotiq_3f_gripper_control" name="Robotiq3FGripperTcpNode" type="Robotiq3FGripperTcpNode.py" args="192.168.1.12" output="screen">
    </node>
  </group>
</launch>